<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/darts" class="navbar-brand">Dart Shop</a>
          </div>
          <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li><a class="headers" routerLink="/darts">Darts</a></li>
                <li><a class="headers" routerLink="/boards">Boards</a></li>
                <li><a class="headers" routerLink="/surrounds">Surrounds</a></li>
                <li *ngIf="(userRole$ | async) === Admin"><a class="headers" routerLink="/admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <span class="login-link">
                <a routerLink="/login">
                  <i class="fas fa-user"></i>
                </a>
              </span>
              <span class="winkelmandje-link">
                <a routerLink="/winkelmandje">
                  <app-winkelwagen></app-winkelwagen>
                </a>
              </span>
              <button [hidden]="loggedIn" (click)="logout()" class="logout-link"  routerLink="/login" type="submit">Uitloggen</button>
            </ul>
        </div>
    </div>
</nav>
