.fa-user {
  font-size: 24px;
  cursor: pointer;
  color: black;
}
.login-link, .winkelmandje-link{
  display: inline-block;
  margin-right: 20px;
  margin-top: 2px;
}

.navbar-header{
  margin-top: 4px;
}

.headers{
  margin-top: 4px;
}

.logout-link {
  width: 100px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

button:hover {
  background-color: #0b7dda;
}

button:active {
  transform: scale(0.95);
}

