/* winkelwagen.component.css */

.winkelwagen {
  position: relative;
  cursor: pointer;
  font-size: 30px; /* Pas de grootte van het pictogram aan naar wens */
  margin-top: 7px; /* Pas de marge aan om de positie te verlagen */
}


.fa-shopping-cart {
  font-size: 100%;
  color: black; /* Hier voeg je de gewenste kleur toe, bijvoorbeeld zwart */
}

.aantal-indicator {
  position: absolute;
  top: -5px; /* Pas de positie van de indicator aan */
  right: -5px; /* Pas de positie van de indicator aan */
  background-color: red;
  color: white;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 10px;
}
